# -------------------------
# Python bytecode & cache
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual environment
# -------------------------
venv/
.env/
.venv/

# -------------------------
# Jupyter & notebooks
# -------------------------

# -------------------------
# Data (raw or processed)
# -------------------------
raw_data/*
processed_data/*
train_test_data/*
single_data/*
!raw_data/.gitkeep
!processed_data/.gitkeep
!train_test_data/.gitkeep

# -------------------------
# Model weights & checkpoints
# -------------------------
models/*.h5
models/*.pt
*.pth
models/*.ckpt
models/*.onnx
yolov8n.pt

# If you're using Git LFS, you can remove these exclusions ↑ and track models with LFS instead.

# -------------------------
# Logs & results
# -------------------------

# -------------------------
# System / IDE files
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Temporary / build files
# ------------


# -------------------------
# Node Files
# -------------------------

package-lock.json