#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: url("./assets/birdml.jpg") center center no-repeat;
  background-size: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
	animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#header {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 15%;
}

#root {
	height: 100vh;
	width: 100vw;
	padding: 0 16px 0 16px;
}

#main {
	width: 100%;
	height: 85%;
	padding: 16px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

/* #main div {
	background-color: rgba(13, 107, 0, 0.263);
} */

#container {
	display: flex;
	height: 100vh;
	flex-direction:column;
}

h1 {
	box-sizing: border-box;
	margin: 0;
	padding: 32px;
	height: 100%;
	color: rgb(1, 20, 0);
}

/* .imgUpload {
	max-width: 50%;
	width:100%;
	height: 100%;
	display: flex;
	flex: 1 0 50%;
	justify-content: center;
} */

.image {
	width: 100%;
	height:100%;
	max-height: 80%;
	display: flex;
	border-radius: 10px;
	background: #000000a8;
	border: 5px solid #000000;
}

.image img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.fileUpload {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden; /* prevents child expansion */
}

.fileUpload input {
	height: 0;
	width: 100%;
}

#processBtn {
	padding: 8px;
	margin-top: 8px;
	flex: 0 0 auto; /* fixed-size bottom */
	width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    box-sizing: border-box;
}

#resultBtn {
    padding: 8px;
	margin-top: 8px;
	flex: 0 0 auto; /* fixed-size bottom */
	width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    box-sizing: border-box;
}

.hidden {
	opacity: 0;
}

.plus {
  width: 100%;
  height: 100%;
  max-height: 80%;
  background: #000000a3;
  border: 5px solid #000000;
  color: white;
  font-size: 36px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease;
  border-radius: 10px;
}

.plus:hover {
  background: #000000b3;
}

.plus input {
  display: none; /* hide the file input */
}
